<p id="notice"><%= notice %></p>

<% provide(:title, @bar.name) %>
<h1>
  <%# INSERT TWITTER %>
  <%= @bar.name %>
</h1>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
