// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Adamina);

.testfont{
  font-family: 'Gentium Book Basic', serif;
<<<<<<< HEAD

=======
  padding-left: 20px;
}

p.notice{
  margin-bottom:0 !important;
>>>>>>> e21c5e3da2b1de2bfc1818f3b3944bd0ced67602
}

p.testfont {
  text-transform:uppercase;
  letter-spacing:1px;
}

<<<<<<< HEAD
=======

>>>>>>> e21c5e3da2b1de2bfc1818f3b3944bd0ced67602
.mdl-layout__tab{
  font-family:'Gentium Book Basic', serif;
  text-transform:none;
}

h4 {
  font-family: 'Gentium Book Basic', serif;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing: 2px;
}

.glyphicon{
  float:right !important;
  padding-top:10px;
  padding-right:10px;
}

.signup_box {
  background-color: #f2f2f2;
  padding:20px;
<<<<<<< HEAD
=======

>>>>>>> e21c5e3da2b1de2bfc1818f3b3944bd0ced67602
}

.btn.btn-primary{
  margin-top:20px;
}

.getInfo{
  margin-right:20px;
}



/*SHOW PAGE*/
.banner{
 background-image:url("cuba.jpeg");
 background-size:cover;
 height:200px;
 width:100%;
 margin-top:-25px;
}

.filler{
  background-color:#00c3dd;
}

table{
  border:1px solid #ccc;
}

.borderless td, .borderless th {
    border: none !important;;
}

.heading{
margin-left: 0 !important;
margin-right: 0 !important;
background-color: #00c3dd;
padding-left:0 !important;
padding-right:0 !important;
width:100% !important;;
padding-bottom:20px;

}
.testfont_title{
  background-color:white;
  border:3px solid #ccc;
  padding:5px;
  margin-top:-25px;
  display:inline-block;
  padding-right:10px;
  padding-left:10px;
}

.tweet-placeholder{
  margin-top:20px;
  background-color:#f2f2f2;
  padding:50px;
}


/* INDEX PAGE */

.firstBar {
  height:150px;
  width:100%;
  background-color:#9DD8E0;
}

div>p.name{
  height:30%;
  width:100%;
  background-color:black;
  opacity:.5;
  color:white;
}
<<<<<<< HEAD
=======

>>>>>>> e21c5e3da2b1de2bfc1818f3b3944bd0ced67602

.secondBar {
  height:150px;
  width:100%;
  background-color:#FFF5B6;
}

.thirdBar {
  height:150px;
  width:100%;
  background-color:#5DB2B7;
}

.fourthBar {
  height:150px;
  width:100%;
  background-color:#B25C93;
}

.fifthBar {
  height:150px;
  width:100%;
  background-color:#FF9DDB;
}

.sixthBar {
  height:150px;
  width:100%;
  background-color:#74E0E6;
}

.something {
  padding-left:1px !important;
  padding-right:1px !important;
  margin-top:2px !important;
}
